html {
    background-color: #5d5c61;
}


body {
    
    font-family: 'Courier New', Courier, monospace;
    color: #edf5e1;
    margin: 40px;
    padding: 40px;
    border-top: 10px solid;
    background-color: #fff;

}