html {
    background-color: #05386b;
}


body {
    
    font-family: 'Courier New', Courier, monospace;
    color: #edf5e1;
    margin: 40px;
    padding: 40px;
    border-top: 10px solid;
    background-color: #5d5c61;

}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin: auto;
}

p{
    text-align: center;
    margin: auto;
    border: 3em;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.article-post{
    text-emphasis: none;
}
table{
    text-align: center;
}
button{
    color:red;
}

image{
    border: 1px;
    margin: 1px;
}

label{
    color: cadetblue;
    border: 1px black;
}

.sticky {
    background: slateblue;
    position: sticky;
    top: 0;
}